<table class="table table-bordered">
    <thead >
    
        <th scope="col">Repository</th>
     
    </thead>
    <tbody *ngFor="let rep of repository | keyvalue; let i=index"> 
      <tr class="table-active">
        <td *ngIf="i !=4 && i !=0 && i!=6">{{rep.key}}:{{rep.value}}</td>
      </tr>
      <tr *ngFor="let child of children| keyvalue" class="table-active">
       <td *ngIf="i==5"><button (click)='onClick(child)'>{{child.value.uri}}</button> </td>
      </tr> 
    </tbody>
  </table>
 