<!-- Cards with media area -->

    <mat-grid-list cols="1" rowHeight="2:1" >
      <mat-grid-tile *ngFor="let read of readme">
        
        <mat-card class="example-card" >
      
            <mat-card-content>
                {{read}}
              </mat-card-content>
         
      
         
  
      </mat-card>

  </mat-grid-tile>
  
  
     
  </mat-grid-list>
  
  