.example-card,a {
    
    margin-bottom: 8px;
    height: 90%;
    width:100%;
    text-decoration: none;
   
  }
  a{
    
    height: 90%;
    width:90%;
  }
  .A{
    display:flex;
    justify-content : center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  
  }
  
  div input {
    border-radius: 10rem;
    border: none;
    height: 3rem;
    width: 35rem;
    background-color: rgb(230, 230, 230);
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline :none;
  
  }