<!-- Cards with media area -->

<mat-grid-list cols="3" rowHeight="2:1" >
    <mat-grid-tile *ngFor="let rep of repositories">
    
      <a routerLink="/repository/{{rep.key}}" >
      <mat-card class="example-card" >
    
          <mat-card-content>
              {{rep.key}}
            </mat-card-content>
           
            

    </mat-card>
</a>

</mat-grid-tile>   
</mat-grid-list>
<router-outlet></router-outlet>


