<!-- Cards with media area -->
<div class="A">
  <input class type="text"[(ngModel)]="name"(input)="Search()" placeholder="chercher votre projet" >
</div>
  <mat-grid-list cols="3" rowHeight="2:1" >
    <mat-grid-tile *ngFor="let projet of projets">
      <a routerLink="/projet/{{projet.id}}"  >
      <mat-card class="example-card" >
      <mat-card-title-group>
        <mat-card-title>{{projet.name}}</mat-card-title>
        <mat-card-subtitle>created at :<b>{{projet.created_at}} </b></mat-card-subtitle>
        <img mat-card-sm-image src="{{projet.avatar_url}}" >
      </mat-card-title-group>
      <mat-card-content>
        {{projet.description}}
      </mat-card-content>

    </mat-card>
  </a>
</mat-grid-tile>


   
</mat-grid-list>

