
<div *ngIf="logged==false">
<router-outlet></router-outlet>
</div>
 <div class="box" *ngIf="logged==true">
    <button class="toggle" (click)="switchTheme()">
        {{ theme === "light-theme" ? "Switch to dark" : "Switch to light" }}
      </button>
      <button> 
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </button>
 <mat-tab-group >
   
    <mat-tab label="votre groupes"> <router-outlet ></router-outlet> </mat-tab>
    <mat-tab label="votre projets"><app-projets></app-projets></mat-tab>
    
 
    
</mat-tab-group>
</div> 







<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


