.example-card,button {
    
    margin: 5px;
    height: 95%;
    width:100%; 
    text-decoration: none;
    
    
  }


  .A{
    display:flex;
    justify-content : center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  
  }
  
 div input {
    border-radius: 10rem;
    border: none;
    height: 5rem;
    width: 35rem;
    background-color: rgb(230, 230, 230);
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline :none;
  
  }
  
  .btn-artifactory{
    position:absolute;
    bottom:6px;
    right:6px;
    height: 40px;
    width: 80px;
    background-color: #39C03F; 
  }