
<!-- Cards with media area -->

<div class="A">
  <input class type="text"[(ngModel)]="name"(input)="Search()" placeholder="chercher votre release">
</div>

<mat-grid-list cols="3" rowHeight="2:1" >
    <mat-grid-tile *ngFor="let release of releases">
      <!--<button (click)="openDialog()">-->
      <mat-card class="example-card" >
      <mat-card-title-group>
        <mat-card-title>{{release.name}}</mat-card-title>
       
        
      </mat-card-title-group>
      <mat-card-content>
      Description:  {{release.description}}
      <br/>
      <button  (click)="getRepositories()" class="btn-artifactory">artifacts</button>
      </mat-card-content>
    </mat-card>
  <!--</button>-->

  </mat-grid-tile>
</mat-grid-list>


