/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.light-theme {
    --background-color: #f5f5f5;
    --text-color: #A9A9A9;
    --box-color: #fff;
    --button-color: #fff;
    --box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
}
.dark-theme {
    --background-color: #f5f5f5;
    --text-color: #f5f5f5;
    --box-color: 	#A9A9A9;
    --button-color: #1a1a1a;
}
body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    position: relative;
    transition: all 0.3s ease-in-out;

}
.header {
    color: var(--text-color);
}
.box {
    width: 90%;
    height: 95%;
    margin: 0 auto;
    background-color: var(--box-color);
    box-shadow: var(--box-shadow);
    padding: 30px;
    border-radius: 9px;
    transition: all 0.1s ease;
    
}
.box:not(:last-child) {
    margin-bottom: 15px;
}
.paragraph {
    color: var(--text-color);
    transition: all 0.1s ease;
}
.toggle {
    position: absolute;
    top: 2%;
    right: 8%;
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 9px;
    background-color: var(--text-color);
    color: var(--button-color);
    transition: all 0.1s ease;
}
::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
  
