<!-- Cards with media area -->
<div class="A">
  
  <input class type="text"[(ngModel)]="name"(input)="Search()" placeholder="chercher votre groupe" >
</div>
<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let groupe of groupes">
      <a routerLink="/groupe/{{groupe.id}}" >
      <mat-card class="example-card" >
      <mat-card-title-group>
        <mat-card-title>{{groupe.name}}</mat-card-title>
        <mat-card-subtitle>created at :<b>{{groupe.created_at}} </b></mat-card-subtitle>
        <img mat-card-sm-image src="{{groupe.avatar_url}}" >
      </mat-card-title-group>
      <mat-card-content>
        {{groupe.description}}
      </mat-card-content>
    </mat-card>
  </a>
</mat-grid-tile>


    
</mat-grid-list>

